body {
    font-family: "Montserrat", sans-serif;
}
.form-container {
    display: flex;
}

.container {
    max-width: 370px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-left: 10vh;
    margin-top: 20vh;
    float: left;
        width: calc(50% - 20px); /* El 20px es para el margen */
        margin-right: 20px; /* Margen entre el formulario y la tabla */
}

.form {
    width: 300px;
}

label {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff9d00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ffc464;
}

button a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.registrar {
    text-align: center;
}

.container a {
    margin-left: 20vh;
    padding: 20px;
    position: absolute;
    text-decoration: none;
    color: red;
}

#miTabla_wrapper {
    width: calc(60% - 20px);
    position: absolute;
    margin-left: 80vh;
    margin-top: 10vh;
}

#miTabla_wrapper .dataTables_paginate {
    margin-left: 100px;
}

#miTabla_wrapper .dataTables_filter input {
    width: 200px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#miTabla_wrapper th,
#miTabla_wrapper td {
    padding: 6px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.eliminar-button{
    color: white;
    background-color: red;
    width: 50px;
    display: block;
    margin: 0 auto;
}